.primary-bg {
    background-color: #432b23 !important;
}

.secondary-bg {
    background-color: #FAD373 !important;
}

.placeholder-bg {
    background-color: #FABFAF !important;
}

.gray-bg {
    background-color: #FBFBFB !important;
}

.black-bg {
    background-color: #000;
}